@import "part:@sanity/base/theme/variables-style";

.root {
  /*  */
}

.noDocs {
  padding: var(--medium-padding);
}

.item {
  composes: item from "part:@sanity/base/theme/layout/selectable-style";
  display: block;
  text-decoration: inherit;
  outline: none;
  margin: 0;
  padding: var(--small-padding) var(--medium-padding);
}
